@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
body{
    overflow-x: hidden;
     background: rgb(228, 228, 228);
}
.container{
    position: absolute;
    height: 40%;
    width: 100%;  
    background: rgb(144, 207, 171);
}
.cards{
    border-radius: 0.5rem;
    background: white;  
    width: 600px;
    height: 500px;
    text-align: center;
    margin-left: 320px;
    margin-top: 30px;
}
table{
    width:90%;
    margin-right:10px;

}
.cards thead{
    background:rgb(48, 47, 47);
    color:white;
}  
.cards td {
    padding:10px;
    padding-right:50px;
}
.cards td tr{
    margin-right:30px;
    border-radius:1px solid black;
}
.cards img{
    height: 150px;
    width: 150px;
    padding: 10px;
    object-fit: cover;
 }
 .table{
     margin-top:20px;
     margin-left:20px;
 }
 
 @media (max-width : 992px){
    .cards{
        width: 50%;
        margin-left: 250px;
    }
}

@media(max-width:768px){
    .cards{
        width: 50%;
        margin-left: 160px;
    }
 }
@media(max-width : 480px)
{
    .cards{
        width: 50%;
        margin-left: 100px;
       
    }
    table{
        width:100%
    }
}